<div class='popup-items first-course'>
  <div class='first-items'>
    <div class='first-items-close'><p>X</p></div>
    <%= render partial: 'menus/items', locals: { items: fc_items } %>
  </div>
</div>

<div class='popup-items main-course'>
  <div class='main-items'>
    <div class='main-items-close'><p>X</p></div>
    <%= render partial: 'menus/items', locals: { items: mc_items } %>
  </div>
</div>

<div class='popup-items drink'>
  <div class='drinks'>
    <div class='drinks-close'><p>X</p></div>
    <%= render partial: 'menus/items', locals: { items: drink_items } %>
  </div>
</div>

<form class='menu-form' action="<%= action == 'Update' ? ('/menus/' + menu.id.to_s) : '/menus/' %>" method='POST'>

  <% if action == 'Update' %>
    <input type='hidden' name='_method' value='put' />
  <% end %>
  
  <div class='form-element'>
    <label class='item-label menu-new'>Weekday:</label>
    <div class='item-type-options'>
      <% weekdays.each do |day| %>
        <% if menu %>
          <div class='radio-input-type'>
            <input type='radio' name='menu[weekday]' value="<%= day %>" checked><p><%= day %></p>
          </div>
        <% else %>
          <div class='radio-input-type'>
            <input type='radio' name='menu[weekday]' value="<%= day %>"><p><%= day %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  
  <div class='form-element courses'>
    <% if menu %>
      <% menu.items.each do |item| %>
        <%= render partial: 'menus/input', locals: { id: item.id.to_s } %>
      <% end %>
    <% else %>
      <%= render partial: 'menus/input', locals: { id: '' } %>
    <% end %>
  </div>
  
  <div class='form-element add-btn'>
    <div class='btn add-item-to-menu'><p>Add item</p></div>
  </div>
  
  <div class='form-element add-btn'>
    <input type='submit' value="<%= action %>" class='btn sbm-menu' />
  </div>
</form>