<form class='menu-form' action='/menus' method='POST'>
  <label>Weekday:</label>
  <% weekdays.each do |day| %>
    <% if menu %>
      <input type='radio' name='menu[weekday]' value="<%= day %>" checked><%= day %>
    <% else %>
      <input type='radio' name='menu[weekday]' value="<%= day %>"><%= day %>
    <% end %>
  <% end %>
  
  <div class='courses-wrapper'>
    <div class='courses'>
      <% if menu %>
        <% menu.items.each do |item| %>
          <%= render partial: 'menus/input', locals: { id: item.id.to_s } %>
        <% end %>
      <% else %>
        <%= render partial: 'menus/input', locals: { id: '' } %>
      <% end %>
    </div>
    <div class='add menu-item'</div>Add item</div>
  </div>
  
  <div class='items'>
    <div class='first-items'>
      <%= render partial: 'menus/items', locals: { items: fc_items } %>
    </div>
    
    <div class='main-items'>
      <%= render partial: 'menus/items', locals: { items: mc_items } %>
    </div>
    
    <div class='drinks'>
      <%= render partial: 'menus/items', locals: { items: drink_items } %>
    </div>
  </div>
  <input type='submit' value="<%= action %>">
</form>