<form action='/menus' method='POST'>
  <label>Weekday:</label>
  <% weekdays.each do |day| %>
    <input type='radio' name="menu[weekday]" value="<%= day %>"><%= day %>
  <% end %>
  
  <div class='courses'>
    <%= render partial: 'menus/inputs', locals: { input: 'f_course_id_',
                                                  label: 'First course', 
                                                  cls: 'first-course' } %>
    <div class='first-items'>
      <%= render partial: 'menus/items', locals: { items: fc_items } %>
    </div>
  </div>
  
  <div class='courses'>
    <%= render partial: 'menus/inputs', locals: { input: 'm_course_id_',
                                                  label: 'Main course', 
                                                  cls: 'main-course' } %>
    
    <div class='main-items'>
      <%= render partial: 'menus/items', locals: { items: mc_items } %>
    </div>
  </div>
  
  <div class='courses'>
    <%= render partial: 'menus/inputs', locals: { input: 'drink_id_',
                                                  label: 'Drink', 
                                                  cls: 'drink' } %>
    
    <div class='drinks'>
      <%= render partial: 'menus/items', locals: { items: drink_items } %>
    </div>
  </div>
  <input type='submit' value="<%= action %>">
</form>