<h1>Week menus:</h1>
<% menus.each do |menu| %>
  <div class='menu-row'>
    <div class='weekday-menu'>
      <label class='item-label menu-new'><%= menu.weekday %>:</label>
      <ul class='menus-list'>
        <% menu.items.each do |item| %>
          <li class='menus-list-item'>
            <%= image_tag item.image, class: 'menus-list-item small' %>
            <span>
              <%= image_tag item.image, class: 'menus-list-item enlarged' %>
              <div class='shopping-details'>
                <p><%= item.title %> $<%= item.price %></p>
                <div class='preview-img'></div>
                <%# if today?(menu.weekday) %>
                  <div class='shopping-cart-img' data="<%= item.id %>"></div>
                <%# end %>
              </div>
            </span>
          </li>
        <% end %>
      </ul>
      <%# if current_user.admin %>
        <div class='menus-list-item admin-panel'>
          <%= button_to "Edit", { action: "edit", id: menu.id }, method: :get %>
        </div>
      <%# end %>
    </div>  
  </div>  
<% end %>