<h1>Week menus:</h1>
<% menus.each do |menu| %>
  <div class='course-row'>
    <div class='form-element courses'>
      <label class='item-label menu-new'><%= menu.weekday %>:</label>
      <ul class='menus-list'>
        <% menu.items.each do |item| %>
          <li class='menus-list-item'>
            <%= image_tag item.image, class: 'menus-list-item small' %>
            <span>
              <%= image_tag item.image, class: 'menus-list-item enlarged' %>
              <p><%= item.title %> -> <%= item.price %></p>
            </span>
          </li>
        <% end %>
      </ul>
    </div>  
  </div>  
<% end %>