%h2 Change your password

= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
  = devise_error_messages!
  = f.hidden_field :reset_password_token
  
  = f.input :password, label: "New password", required: true
  - if @minimum_password_length
    = f.hint @minimum_password_length.to_s + ' characters minimum'
  = f.input :password_confirmation, label: "Confirm new password", required: true
  
  = f.submit "Change my password" %>

.useful_links
  = render "devise/shared/links" %>