.container
  %h1 All orders:
  #accordion.panel-group
    .panel.panel-default
      - @orders_list.each do |key1, value1|
        .panel-heading
          %h4.panel-title
            %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "##{key1}"}= key1
        .panel-collapse.collapse{:id => key1}
          %ul.list-group
            - value1.each do |key2, value2|
              %li.list-group-item
                %h4.item-title= key2
                .item-content{:id => key2}
                  %form
                    - value2.each do |item|
                      %label
                        = item.id
                        = item.total
                        = item.created_at
                        = button_to "Details", { action: "show", id: order.id }, method: :get