.container
  %h1 Today orders:
  %h2
    Total sum: #{@orders_total.inspect}
  #accordion.panel-group
    .panel.panel-default
      - @orders_list.each do |key, value|
        .panel-heading
          %h4.panel-title
            %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "##{key}"}= key
        .panel-collapse.collapse{:id => key}
          %ul.list-group
            - value.each do |order|
              %label
                = order.id
                = order.total
                = button_to "Details", { action: "show", id: order.id }, method: :get