<div class='container'>
  <h1>All menu items:</h1>
  <% @items.each do |item| %>
    <ul class='ul items list'>
      <li class='li items list element'>
        <div class='div items list element image'>
          <%= image_tag item.image_url.to_s %>
        </div>
        <div class='div items list element details'>
          <div class='div items list element details title'>
            <%= item.title %>
          </div>
          <div class='div items list element details price'>
            <%= item.price %>
          </div>
        </div>
        <% if current_user.admin %>
          <div class='div items list element admin-panel'>
            <%= button_to "Edit", { action: "edit", id: item.id }, method: :get %>
            <%= button_to "Delete", { action: "destroy", id: item.id }, method: :delete %>
          </div>
        <% end %>
      </li>
    </ul>
  <% end %>
</div>