<div class="container">
  <h1>All menu items:</h1>
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <% @items.each do |item| %>
        <ul class="list-group">
          <li class="list-group-item">
            <div class="item-content">
              <label>
                <%= item.title %>
                <%= item.price %>
                <%= image_tag item.image_url.to_s %>
              </label>
              <% if current_user.admin %>
                <%= button_to "Edit", { action: "edit", id: item.id }, method: :get %>
                <%= button_to "Delete", { action: "destroy", id: item.id }, method: :delete %>
              <% end %>
            </div>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</div>