<h1>All menu items:</h1>

<% items.each do |item| %>
  <ul class='items wth-border'>
    <li class='items flex element'>
      <div class='items element-img'>
        <%= cl_image_tag item.image_url.to_s, class: 'wth-border' %>
      </div>
      <div class='items element-details'>
        <div class='items element-details title'>
          <%= item.title %>
        </div>
        <div class='items element-details price'>
          <%= item.price %>
        </div>
      </div>
      <% if current_admin %>
        <div class='items element-admin-panel'>
          <%= button_to "Edit", { action: "edit", id: item.id }, 
              method: :get, class: 'btn' %>
          <%= button_to "Delete", { action: "destroy", id: item.id }, 
              method: :delete, class: 'btn' %>
        </div>
      <% end %>
    </li>
  </ul>
<% end %>

<div class='pagination-bar'>
  <%= paginate items, :window => 2, :outer_window => 1 %>
</div>