<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta charset="utf-8"/>
    <meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>
      <%= content_for?(:title) ? yield(:title) : "LunchApp" %>
    </title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
  </head>
  
  <body>
    <div class='div sidebar items'>
      <ul class='ul sidebar items'>
        <%# if signed_in? %>
          <%# if current_user.admin == true %>
            <li class='li sidebar item'><%= link_to "Orders", orders_path %></li>
          <%# end %>
          <li class='li sidebar item'><%= link_to "All menu items", items_path %></li>
          <li class='li sidebar item order-preview-form inactive'><a href='#'>Preview order</a></li>
        <%# end %>
      </ul>
    </div>
    
    <div class='page-content'>
      <div class=header>
        <div class='header-img' id='img-burger'></div>
        <div class='header-img' id='img-eggs'></div>
        <div class='header-img' id='img-pizza'></div>
        <div class='header-img' id='img-sweets'></div>
      </div>
      
      <div class='container'>
        <%= yield %>
      </div>
      
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>